.section-one {
    padding: 20px 50px;
    text-align: center;
    border: 1px solid black;
    background-color: lightblue;
}

.section-two {
    padding: 20px 50px;
    text-align: center;
    border: 1px solid black;
    background-color: lightcoral;
}

.section-three {
    padding: 20px 50px;
    text-align: center;
    border: 1px solid black;
    background-color: lightyellow;
}